body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container img {
    width: calc(33.33% - 10px); /* 33.33% width with a small gap between images */
    max-width: 100%;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px; /* Adjust the value of padding as needed */
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
}

footer p {
    margin: 0; /* Remove default margin to center the content */
}

@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    nav a {
        font-size: 14px;
    }
}
