body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.display-4 {
    color: #0366d6;
}

.lead {
    font-size: 1.25rem;
    line-height: 1.6;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.authors-list {
    list-style-type: none;
    padding: 0;
}

.authors-list li {
    margin-bottom: 0.5rem;
}

.authors-list a {
    color: #0366d6;
    text-decoration: none;
}

.authors-list a:hover {
    text-decoration: underline;
}

.article-section {
    margin-top: 30px;
}

/* Adições para a seção de resultados */
#results {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    max-width: 30%;
    border-radius: 8px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .image-container {
        flex-direction: column;
    }

    .image-container img {
        max-width: 100%;
        margin-bottom: 10px;
    }
}
